.drag-over {
    background-color: white!important;
}

.up-success {
    background-color: #4BB543!important;
}

#drop_zone {
    width:  100%;
    height: 200px;
    text-align: center;
    border: 2px dashed #666666;
    background-color: #ccc;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px #000;
    -ms-box-shadow: inset 0 0 3px #000;
    box-shadow: inset 0 0 3px #000;
    cursor: move;
  }

.drop-text-container {
    height: 100%;
}

.json-submit {
    width: 100%;
    height: 50px;
}