{% extends "layout.html" %}

{% block main %}
<div class="container">
    <div class="row align-items-center">
        <div class="col"></div>
        <div id="form-cont" class="col-md-6 col-10">
            <div hidden id="drop_zone" onclick="fileSelect()" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
                <div class="row align-items-center">
                    <div class="col" id="drop-text">Drag and drop file to upload, or click to select</div>
                </div>
            </div>
            <div class="col-12">
                <button onclick="submitForm()" class="btn btn-primary btn-lg json-submit">Submit</button>
            </div>
            <form id="block-form" class="legacy" action="/test" enctype="multipart/form-data" method="post">
                <input class="legacy" id="file-input" type="file" name="file" onchange="handleFiles(this.files)"><br>
                <input class="legacy" id="number-input" type="number" name="length" placeholder="Number of subjects"><br>
                <input id="submit" type="submit">
                <input id="json-text" type="text" name="json-text" hidden>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>
    <script>
        function submitForm() {
            $("#block_form").submit();
        }
        function fileSelect() {
            $("#file-input").trigger("click");
        }
        function handleFiles(files) {
            var file = files[0]
            console.log(file.name);
            var reader = new FileReader()
            reader.onload = function(event) {
                var contents = event.target.result;
                console.log("File contents: " + contents);
                $("#json-text").val(contents);
                $("#drop-text").html("Uploaded: " + file.name);
            };
            reader.readAsText(file)
        }
        function dropHandler(ev) {
            console.log('File(s) dropped');

            // Prevent default behavior (Prevent file from being opened)
            ev.preventDefault();

            if (ev.dataTransfer.items) {
                // Use DataTransferItemList interface to access the file(s)
                for (var i = 0; i < ev.dataTransfer.items.length; i++) {
                // If dropped items aren't files, reject them
                if (ev.dataTransfer.items[i].kind === 'file') {
                    var file = ev.dataTransfer.items[i].getAsFile();
                    console.log('... file[' + i + '].name = ' + file.name);
                    handleFiles([file])
                }
                }
            } else {
                // Use DataTransfer interface to access the file(s)
                for (var i = 0; i < ev.dataTransfer.files.length; i++) {
                console.log('... file[' + i + '].name = ' + ev.dataTransfer.files[i].name);
                handleFiles([file])
                }
            }
        }
        function dragOverHandler(ev) {
            // Prevent default behavior (Prevent file from being opened)
            ev.preventDefault();
        }
        $(document).ready(function() {
            $(".legacy").hide(0);
            $("form > br").remove();
            $("#submit").remove();
            $("#file-input").attr("name", "");
            $("#drop_zone").removeAttr("hidden");
        });
    </script>

{% endblock %}
