{% extends "layout.html" %}

{% block main %}

    <div class="col">
        <form action="/test" enctype="multipart/form-data" method="post">
            <input class="legacy" id="file-input" type="file" name="file"><br>
            <input class="legacy" id="number-input" type="number" name="length" placeholder="Number of subjects"><br>
            <input id="submit" type="submit">

        </form>
    </div>
    <script>
        $(document).ready(function() {
            $(".legacy").hide(0);
            $("form > br").remove();
            $("#file-input").attr("name", "")
        });
    </script>

{% endblock %}
