{% extends "layout.html" %}

{% block main %}
    <div hidden id="json-data">
        {{ json_list }}
    </div>
    <button id="download-button" hidden onclick="downloadCSV()">Download CSV file of data</button>
    <table id="resp-table" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr id="header-row">
                <th>Number</th>
                <th>Subject 1</th>
                <th>Subject 2</th>
                <th>Subject 3</th>
                <th>Subject 4</th>
            </tr>
        </thead>
        
        {% for combo in combos %}
        <tr class="table-row">
                <td class="table-cell">{{ combo | length }}</td>
            {% for subject in combo %}
                <td class="table-cell">{{ subject }}</td>
            {% endfor %}
            {% for i in range(4 - combo|length) %}
                <td class="table-cell"></td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <script>
        function downloadCSV() {
            var data_array = JSON.parse($("#json-data").text());
            var csv_string = data_array.join("\n");
            console.log(csv_string);
        }
        // Taken some taken from https://datatables.net/examples/styling/bootstrap4
        $(document).ready(function() {
            $("#download-button").removeAttr("hidden");
            $('.table-cell').text(function() {
                $(this).css("text-align", "center");
            });
            $('#resp-table').DataTable();
        } );
    </script>

{% endblock %}